* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;

  justify-content: center;
  background-image: url(slike/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-div {
  margin-top: 130px;
  height: 600px;
  border-radius: 30px;
  width: 400px;
  background-color: rgba(0, 27, 38, 0.9);

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}
.search-bar {
  margin-top: 40px;
  width: 360px;
  border: 1px solid #61d3e5;
  border: 1px solid #61d3e5;
  outline: none;
  background: transparent;
  color: #61d3e5;
  padding: 12px;
  border-radius: 15px;
  font-size: 1.6rem;
}
.search-bar::placeholder {
  color: #61d3e5;
}
#delete-button {
  position: absolute;
  top: 50px;
  right: 30px;
  font-size: 1.5rem;
  background: transparent;
  color: #61d3e5;
  outline: none;
  border: none;
  padding: 0px;
}

.fa-xmark {
  background: transparent;
  border-radius: 50%;
  padding: 5px 8px;
  border: none;
  outline: none;
}
.fa-xmark:hover {
  background-color: #61d3e5;
  color: rgba(0, 27, 38, 0.8);
  transition: 0.3s;
}
.results-div {
  background-color: beige;
  height: 75%;
  width: 90%;
  margin-top: 10px;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background: transparent;
}
.results-div::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.output-div {
  height: 70px;
  border: 1px solid rgb(97, 211, 229);
  padding: 10px;
  color: #61d3e5;
  font-size: 1.2rem;
  border-radius: 15px;
  margin-bottom: 10px;
}
.output-div:hover {
  background-color: #61d3e5;
  color: rgba(0, 27, 38, 0.8);
  transition: 0.3s;
}
#src-span {
  font-size: 0.8rem;
  opacity: 0.3;
}
.fa-magnifying-glass {
  margin-right: 5px;
}
